@model IEnumerable<LibraryDomain.Models.ResearchWork>

@{
    ViewData["Title"] = "Дослідницька робота";
}

<h1>Дослідницька робота</h1>

<p>
    <a asp-action="Create">Створити нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
          <!--  <th>
                Html.DisplayNameFor(model => model.Publisher)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
          <!--  <td>
                Html.DisplayFor(modelItem => item.Publisher.FullName)
            </td> -->
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a> |
                    <a asp-controller="Areas"
                       asp-action="Index"
                       asp-route-id="@item.AreaId">
                        Область
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
