@model IEnumerable<LibraryDomain.Models.ResearchWork>

@{
    ViewData["Title"] = "Наукова робота";
}

<h1>Наукова робота</h1>

<p>
    <a asp-action="Create">Створити нову</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.Area.AreaName)</th>
            <th>@Html.DisplayNameFor(m => m.Employee.FullName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Title)</td>
                <td>@Html.DisplayFor(_ => item.Area.AreaName)</td>
                <td>@Html.DisplayFor(_ => item.Employee.FullName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>



}
